{% extends 'base.html' %}

{% block title %}All Posts{% endblock %}

{% block content %}
    <h1>All Posts</h1>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    <p>By {{ post.author.username }} on {{ post.date_posted }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts available.</p>
    {% endif %}
{% endblock %}