{% extends 'base.html' %}

{% block title %}Community Discussion Home{% endblock %}

{% block content %}
    <h1>Community Discussion Home</h1>

    <h2>Categories</h2>
    <ul class="list-group mb-4">
        {% for category in categories %}
            <li class="list-group-item">{{ category.name }}: {{ category.description }}</li>
        {% empty %}
            <li class="list-group-item">No categories available.</li>
        {% endfor %}
    </ul>

    <h2>SubCategories</h2>
    <ul class="list-group mb-4">
        {% for subcategory in subcategories %}
            <li class="list-group-item">{{ subcategory.name }}: {{ subcategory.description }} (Category: {{ subcategory.category.name }})</li>
        {% empty %}
            <li class="list-group-item">No subcategories available.</li>
        {% endfor %}
    </ul>

    <h2>Posts</h2>
    <ul class="list-group mb-4">
        {% for post in posts %}
            <li class="list-group-item">{{ post.title }} by {{ post.author.username }} on {{ post.date_posted }} (Status: {{ post.get_status_display }})</li>
        {% empty %}
            <li class="list-group-item">No posts available.</li>
        {% endfor %}
    </ul>

    <h2>Comments</h2>
    <ul class="list-group mb-4">
        {% for comment in comments %}
            <li class="list-group-item">{{ comment.content }} by {{ comment.author.username }} on {{ comment.date_posted }} (Post: {{ comment.post.title }})</li>
        {% empty %}
            <li class="list-group-item">No comments available.</li>
        {% endfor %}
    </ul>
{% endblock %}